 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/gfgffg.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 712px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 3rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-family: NotoSansTC-Bold;
  font-weight: bold;
  margin: 117px 0 0 586px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  align-self: flex-end;
  font-weight: 700;
  font-family: NotoSansTC-Bold;
  margin: 134px 56px 60px auto;
  padding: 18px 63px 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 386px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 5.07% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 2.75rem;
    margin-top: 107px;
    margin-left: 210px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 113px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 553px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 30px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 14.12% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 577px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.125rem;
    margin-top: -39px;
    margin-left: 33px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 145px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 710px;
}

.u-section-2 .u-text-1 {
  font-family: NotoSansTC-Bold;
  font-weight: bold;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  width: 543px;
  font-family: NotoSansTC-Thin;
  margin: 20px auto 0;
}

.u-section-2 .u-table-1 {
  margin: 40px auto 26px 0;
}

.u-block-2f79-85 {
  font-weight: 700;
}

.u-block-2f79-84 {
  font-size: 3rem;
  font-weight: 400;
}

.u-section-2 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-2 .u-table-header-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
}

.u-section-2 .u-table-cell-1 {
  font-family: NotoSansTC-Bold;
}

.u-section-2 .u-table-cell-2 {
  font-family: NotoSansTC-Bold;
}

.u-section-2 .u-table-cell-3 {
  font-family: NotoSansTC-Bold;
}

.u-section-2 .u-table-cell-4 {
  font-family: NotoSansTC-Bold;
}

.u-section-2 .u-table-cell-5 {
  font-weight: 700;
  font-family: NotoSansTC-Bold;
}

.u-section-2 .u-table-cell-6 {
  font-size: 3rem;
  font-weight: 400;
}

.u-section-2 .u-table-cell-7 {
  font-size: 3rem;
  font-weight: 400;
}

.u-section-2 .u-table-cell-8 {
  font-size: 3rem;
  font-weight: 400;
}

.u-section-2 .u-table-cell-9 {
  font-weight: 700;
  font-family: NotoSansTC-Bold;
}

.u-section-2 .u-icon-1 {
  font-size: 2em;
}

.u-section-2 .u-icon-2 {
  font-size: 2em;
}

.u-section-2 .u-icon-3 {
  font-size: 2em;
}

.u-section-2 .u-table-cell-13 {
  font-weight: 700;
  font-family: NotoSansTC-Bold;
}

.u-section-2 .u-icon-4 {
  font-size: 2em;
}

.u-section-2 .u-icon-5 {
  font-size: 2em;
}

.u-section-2 .u-icon-6 {
  font-size: 2em;
}

.u-section-2 .u-table-cell-17 {
  font-weight: 700;
  font-family: NotoSansTC-Bold;
}

.u-section-2 .u-icon-7 {
  font-size: 2em;
  width: 19px;
  height: 19px;
}

.u-section-2 .u-icon-8 {
  font-size: 2em;
}

.u-section-2 .u-icon-9 {
  font-size: 2em;
}

.u-section-2 .u-table-cell-21 {
  font-family: NotoSansTC-Bold;
  font-weight: 700;
}

.u-section-2 .u-icon-10 {
  font-size: 2em;
}

.u-section-2 .u-icon-11 {
  font-size: 2em;
}

.u-section-2 .u-icon-12 {
  font-size: 2em;
}

.u-section-2 .u-table-cell-25 {
  font-weight: 400;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
}

.u-section-2 .u-btn-3 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  letter-spacing: 1px;
}

.u-block-2f79-35 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-table-cell-2 {
    font-weight: bold;
  }

  .u-section-2 .u-table-cell-3 {
    font-weight: bold;
  }

  .u-section-2 .u-table-cell-4 {
    font-weight: bold;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-table-1 {
    margin-bottom: 4px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-table-1 {
    margin-bottom: 14px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-block-2f79-84 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-table-cell-6 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-table-cell-7 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-table-cell-8 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-table-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-block-2f79-84 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-table-cell-6 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-table-cell-7 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-table-cell-8 {
    font-size: 1.25rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 598px;
}

.u-section-3 .u-text-1 {
  font-size: 2.625rem;
  width: 566px;
  font-family: NotoSansTC-Bold;
  font-weight: bold;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  width: 548px;
  font-family: NotoSansTC-Bold;
  margin: 24px auto 0;
}

.u-section-3 .u-list-1 {
  width: 976px;
  margin: 24px auto 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 25px));
  min-height: 256px;
  grid-gap: 50px;
}

.u-section-3 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px;
}

.u-section-3 .u-text-3 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: NotoSansTC-Bold;
  font-weight: bold;
}

.u-section-3 .u-text-4 {
  margin-left: 0;
  margin-bottom: 0;
  font-style: italic;
  line-height: 1.8;
  font-family: NotoSansTC-Thin;
}

.u-section-3 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-3 .u-container-layout-2 {
  padding: 20px;
}

.u-section-3 .u-text-5 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: NotoSansTC-Bold;
  font-weight: bold;
}

.u-section-3 .u-text-6 {
  margin-left: 0;
  margin-bottom: 0;
  font-style: italic;
  line-height: 1.8;
  font-family: NotoSansTC-Thin;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 247px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }
}@font-face {
  font-family: 'NotoSansTC-Bold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/NotoSansTC-Bold.otf);
}@font-face {
  font-family: 'NotoSansTC-Thin';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/NotoSansTC-Thin.otf);
}